name: Trying out github actions

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: 24f1002280@ds.study.iitm.ac.in
        run: echo "Hi, there"
  
